@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background:black;/*rgba(1, 3, 10, 0.973)!important;*/
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  border-radius: 2px;
}

.middle-inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.middle-wrapper{
  width: 1000px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 75px;
  right: 325px;
  padding: 40px 55px 45px 55px;
  border-radius: 1px;
  transition: all .3s;
 
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-size: larger;
  font-family: 'Fira Sans', sans-serif;
  font: rgb(8, 185, 76);
}
.introduction{
   
align-items: stretch;

}
.card,.card-body{
  margin: none;
  background:rgba(0, 0, 0, 0.733);
  border-radius: 0px;
  transition: all .3s;
  background-color: rgb(6, 7, 7);
  border:black ;
  align-items: center;
  
}
.card-text{
  font: rgb(8, 185, 76);
  color:  rgb(8, 185, 76);
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.form-group{

border-radius: 2px;

}
.nav-link {
  font: rgb(8, 185, 76);
  color: #f0f0f0;
}
.navbar-light {
  background-color:rgba(8, 8, 8, 0.979);
  opacity: 0.5;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 300px;
  margin: auto;
  /*background:rgba(173, 182, 176, 0.733);*/
  position: absolute;
  top: 75px;
  right: 2px;
  box-shadow: 0px 1px 10px rgba(173, 182, 176, 0.733);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-body {
  width: 250px;
  margin: auto;
  background:rgb(230, 240, 233);
  position: fixed;
  top: 75px;
  left:0px; 
  box-shadow: 0px 5px 30px rgba(173, 182, 176, 0.733);
  border-radius: 0px;
  transition: all .3s;
}
.column {
  float: left;
  width: 24.60%;
  padding: 15px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.card-img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}
.card-title{

  align-items: center;

}
.card-inner{
  width: 1340px;
  margin: auto;
  /*background:rgba(173, 182, 176, 0.733);*/
  position: absolute;
  top: 665px;
  left: 2px;
  box-shadow: 0px 5px 30px rgba(173, 182, 176, 0.733);
  padding: 40px 55px 45px 55px;
  border-radius: 1px;
  transition: all .3s;
}
.card-wrapper{

  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: left;

}
.name-color{
  color: rgb(8, 185, 76);
  font-size: 50px;
}
.top-body {
  height: 200px;
  margin: auto;
  background-color:black;
  position: fixed;
  top: 5px;
  box-shadow: 0px 5px 30px rgba(173, 182, 176, 0.733);
  border-radius: 0px;
  transition: 0.3;
}
.fas{
  font-size: 45px;
  color: rgb(8, 185, 76);
}
.fa-key,.fa-envelope{
  font-size: 15px;
  color: rgb(8, 185, 76);
}
.img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.fa-home,.fa-file,.fa-id-card,.fa-pen,.fa-book,.fa-users,.fa-phone-volume{
  font-size: 23px;
  color: rgb(8, 185, 76);
}

.auth-wrapper .form-control:focus {
  border-color:  rgb(8, 185, 76);
  box-shadow: none;
}
.auth-wrapper .form-control:focus {
  border-color:  rgb(8, 185, 76);
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
  color: #eaeff5;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #feffff;
  margin: 0;
}

.forgot-password,.btn-link {
  color:  rgb(8, 185, 76);
  font-size: small;
}
.title,.custom-control-label{
  color:  rgb(8, 185, 76);

}
.btn-lg{
  width: 200px;
  border-radius: 0px;
  background:  rgb(8, 185, 76);
  align-items: center;
}
.btn-block{
  background-color: rgb(8, 185, 76);
}
.nav-item{
 
  size: 5px;

}